<phpunit
        bootstrap="./vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        syntaxCheck="true"
>
    <testsuite name="ToolkitTests">
        <directory>./tests/ToolkitApiTest</directory>
    </testsuite>
    <testsuite name="Functional">
        <directory>./tests/functional</directory>
    </testsuite>
</phpunit>